<%= standard_edition_form(edition, @information, preview_design_system: true) do |form| %>
  <%= render "govuk_publishing_components/components/fieldset", {
    legend_text: "Associations",
    heading_level: 3,
    heading_size: "l",
    id: "associations"
  } do %>
    <div class="govuk-!-margin-bottom-4">
      <%= render 'organisation_fields', form: form, edition: edition %>
    </div>
  <% end %>
<% end %>
